<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          
          <ion-card-title>ระบบการลางาน สวส</ion-card-title>

          
        </ion-card-header>
      
        <ion-card-content>
            <ion-grid>
                <ion-row>
                  <ion-col>
                    ประเภท
                  </ion-col>
                  <ion-col>
                    จำนวน
                  </ion-col>
                  <ion-col>
                    คำร้องขอ
                  </ion-col>
                </ion-row>
              </ion-grid>
            
        </ion-card-content>
      </ion-card>
    
</ion-content>
